.container {
    padding: 24px;
  }
  .responsive-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 3px;
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  mat-card{
    max-width: 100px;

  }
