<div *ngIf="medias!=null" class="container responsive-grid">
    <mat-card *ngFor="let card of medias" (click)="selectMedia(card)">
      <mat-card-header>
        <mat-card-title>{{ card.name }} </mat-card-title>
      </mat-card-header>
      <br />
      <img mat-card-image [src]="apiUrl + card.previewUrl" method="post"/>
    </mat-card>
  </div>

  <!-- <video src="http://127.0.0.1:5000/test1-video" controls="controls"></video>
  <video src="http://127.0.0.1:5000/test2-video" controls="controls"></video> -->
