img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.media-type {
  height: 20px; /* Set the height of the media type */
}
.mat-card-title {
  white-space: nowrap; /* Предотвращает перенос текста */
  overflow: hidden; /* Скрытие текста, который не помещается */
  text-overflow: ellipsis; /* Отображает многоточие, если текст обрезается */
}