/* Add CSS styles to set a specific space between the image and the media type */
.media-container {
  display: flex;
  flex-direction: column; /* Display children in a column layout */
  border: 2px solid black;
  display: inline-block; /* чтобы обертка соответствовала размеру изображения */
  align-items: center;
  margin: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* чтобы изображение не имело отступов */}

.media-type {
  height: 20px; /* Set the height of the media type */
}