<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" name="uploadForm">
      

      <mat-form-field class="full-width" appearance="outline">
        <div>
          Название:
          <input matInput type="text" formControlName="name"/>
        </div>
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
          Название обязательно для заполнения
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
          Название должно содержать не менее 5 символов
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')">
          Название должно содержать не более 25 символов
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('pattern')">
          Название должно содержать только латинские буквы, цифры и пробелы        
        </mat-error>
      </mat-form-field>
      <div style="color: red" *ngIf="badFormat()">
        Недопустимый формат (.png, .jpg, .jpeg, .mp4 или .avi)
      </div>
      <div *ngIf="response() != ''">
        {{response()}}
      </div>
      <mat-progress-bar *ngIf="progress > 0" style="min-height:40px;" color="primary" mode="determinate" [value]="progress"></mat-progress-bar>
      <div class="full-width" appearance="outline">
        <button mat-button type="button" mat-raised-button (click)="fileInput.click()">Выбрать файл</button>
        <form hidden enctype="multipart/form-data">
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file"  />
        </form>
      <button mat-raised-button color="primary" type="submit">Отправить</button>
    </div>
    </form>
  </mat-card-content>
</mat-card>
