mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    background-color: #e8f3fc;
    border-radius: 20px !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    }
    .header {
    text-align: center;
    }
    .full-width {
    
    width: 100%;
    margin-top: 10px;
    padding: 1px;
    }
    .button-row {
    padding-top: 5px;
    }
    .button-row a {
    margin-right: 8px;
    text-align: center;
    }
    .forget-password {
    padding-left: 0px;
    }
    .emailInput {
    padding-top: 10px;
    }
    .contentBody {
    padding: 60px 1rem;
    background: #1b6ca8;
    display: block;
    }
    .aLink {
    float: right;
    padding-right: 60px;
    text-decoration: none;
    }
    .error-message {
      background-color: red;
      color: black;
      text-align: center;
    }
mat-error {
  position: absolute;
  margin-bottom: 10px;
}
    