.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.image {
  max-width: 600px;
  height: auto;
  object-fit: cover;
  float: left;
  flex: 1;
}
.controls {
  float: right;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  /* justify-content: center;
    align-items: center; */
}

.slider {
  display: flex;
  flex-direction: row;
}

.search-table {
  max-height: 300px;
  overflow-y: auto;
}
